html, body {
  height: 100%;
}

html {
  box-sizing: border-box;
}

html,
body {
  font-size: 100%;

}

body {
  color: #222222;
  cursor: auto;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: normal;
  line-height: 1.5;
  margin: 0;
  position: relative;
}

#index_body
{
  padding-top: 206px;
}

@media (max-width: 767px) {
  #index_body
  {
    padding-top: 145px;
  }
}

a:hover {
  cursor: pointer;
}

img {
  max-width: 100%;
  height: auto;
}

img {
  -ms-interpolation-mode: bicubic;
}

.bold
{
  font-weight: bold;
}

.page
{
  background-color: #FDE9D9;
  background-position: bottom;
  max-height: 100% !important;
  overflow-x: hidden;
}

.site-header {
  /*border: solid green 1px;*/
  background-color: #FDE9D9;
  position: absolute;
  top: 0;
  left: 0;
  width:90%;
}

#cpe-header
{
  color: #003366;
  font-family: 'Clicker Script', cursive;
  font-weight: bold;
  font-size: 60px;
  padding-top: 30px;
  width:68%;
  margin: auto;
}

@media (max-width: 767px) {
  #cpe-header {
    font-size: 36px;
    margin-top: 10px;
    margin-left: 80px;
  }
}

#logoCPE
{
  background-image: url("../images/logoCJ_2.png");
  background-repeat: no-repeat;
  background-size: 180px 150px;
  height: 150px;
}

@media (max-width: 767px) {
  #logoCPE
  {
    background-size: 80px 70px;
    height: 70px;
  }
}

.wraper-container
{
  width:68%;
  margin: auto;
}

.site-container {
  max-height: 100% !important;
  width:75%;
  margin: auto;
}

.main-background
{
  background-image: url("../images/fleurs.png");
  background-repeat: no-repeat; 
  width: 100%
}

.site-footer {
  height: 100px;
  background-color: #FDE9D9;
  background-image: url("../images/fleursFooter3.png");
  width:100%;
}

@media (max-width: 767px) {
  .site-footer {
    max-width: 100%;
    height: 50px;
  }
}

.index_ifrm
{
  width:100%;
  overflow:hidden;
}

#iframeBody
{
  overflow:hidden;
}

.active
{
  border-left: 3px solid #003366 !important;
  border-top: 3px solid #003366 !important;
  border-bottom: 3px solid #003366 !important; 
}

.active:last-child
{
  border-right: 3px solid #003366 !important;
}

.inactive {
  border-left: 3px solid #003366 !important;
  border-top: 3px solid #003366 !important;
  border-bottom: 3px solid #003366 !important;
}

.inactive:last-child
{
  border-right: 3px solid #003366 !important;
}

.topsub
{
  margin-top: -1px;
}
.subsub
{
  margin-top: -3px;
}

.dropdown-menu .inactive
{
  border-right: 3px solid #003366 !important;
}

@media (max-width: 767px) {
  .active {
    border-left: 3px solid #003366 !important;
    border-top: 3px solid #003366 !important;
    border-right: 3px solid #003366 !important;
    border-bottom: 0px !important;
  }

  .active:last-child
  {
    border-bottom: 3px solid #003366 !important;
  }

  .inactive {
    border-left: 3px solid #003366 !important;
    border-top: 3px solid #003366 !important;
    border-right: 3px solid #003366 !important;
    border-bottom: 0px !important;
  }

  .inactive:last-child
  {
    border-bottom: 3px solid #003366 !important;
  }

  .topsub
  {
    margin-top: -1px;
  }
  .subsub
  {
    margin-top: -3px;
  }

  .dropdown-menu .inactive
  {
    border-right: 0px !important;
    border-left: 0px !important;
  }
}

/*bleu*/
.couleurUn
{
  background-color: #0099ff;
}

/*jaune*/
.couleurDeux
{
  background-color: #ffcc00;
  color: white;
}

/*vert*/
.couleurTrois
{
  background-color: #9bdd0d;
  color: white;
}

/*.separator
{
  width:90%;
  border-top: 3px solid #ffcc00;
  border-bottom: 3px solid #0099ff;
  margin-bottom: 30px;
  padding: 0;
  height: 15px;
}*/


.box-title
{
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color:white;
  border: 2px solid white;
  text-align: center;
  word-wrap:normal; 
  background-color: #003366;
  padding: 1px;
}

.box-inner
{
  margin-top: 0;
  padding-top: 10px;
  border-top: 3px solid #003366
}

.box-inner > p
{
  font-family: "Montserrat", sans-serif;
  font-weight: 200;
  font-size: 14px;

  margin-left: 10px;
}

.box-inner > div
{
  margin-left: 10px;
}

.texteInfo
{
  max-width: 90% !important;
  border: 3px solid #003366 !important;
  margin-bottom: 40px;
}

/* IFRAME */
.iframe-title-bg
{
  color: #003366;
  border-top: 3px solid #ffcc00;
  border-bottom: 3px solid #0099ff;
  margin: 46px 0 46px;
  padding: 0;
  height: 15px;
  text-align: center;
}

.iframe-title-bg > span
{
  font-size: 30px;
  font-weight: bold;
  position: relative;
  top: -18px;
  padding: 1px 20px;
  background: #FDE9D9;
}

@media (max-width: 767px){
  .iframe-title-bg > span
  {
    font-size: 18px;
    top: -9px;
  }
}

.iframe-p-text
{
  text-align: justify;
  /*margin: 0 20px;*/
}

.iframe-p-text > p
{
  font-size: 16px;
  text-align: justify;
  margin: 0 20px;
}

.iframe-div-title
{
  color: #003366;
  font-size: 20px;
  font-weight: bold;
}

.iframe-div-subtitle
{
  color: #0099ff;
  font-size: 16px;
}

/*.iframe-text > p
{
  font-size: 12px;
  text-align: justify;
  margin: 0 20px;
}*/

.center-title
{
  text-align: center;
}

.team-member{
  margin-bottom: 30px;
}

.small-height
{
  margin-top: 25px;
}

.small-height > ul
{
  margin-left:-6px;
  /*color: #003366;*/
  font-size: 14px;
  font-weight: bold;
}

.doc-list
{
  color: #222222;
  font-size: 14px;
  font-weight: bold;
}

.center
{
  text-align: center;
}

.no-peanut
{
  background: url("../images/icon-nopeanut.png") center no-repeat;
  height: 125px;
}

.underline
{
  text-decoration: underline;
}

.item-table-matiere
{
  
  font-style: italic;
  font-size: 16px;
  font-weight: bold;
}

.link-table-matiere
{
  color: #222222;
  text-decoration: none;
}

.link-table-matiere:hover
{
  color: #222222;
}

.nonformat-list
{
  margin-left: 25px;
}

.list-letter
{
  margin-left: 35px;
}

.list-num, .list-letter
{
  color: #222222;
  font-size: 14px;
  font-weight: bold;
}

.img-cycle-sommeil
{
  background: url("../images/cycle-sommeil.png") center no-repeat;
  height: 400px;
}

.frame
{
  border: 2px solid #003366 !important;
  /*border: 3px solid #003366 !important;*/
  padding: 15px;
  background-color: #EDDA85;
}

.frame > p
{
  font-size: 16px;
  text-align: justify;
}

.frame-title
{
  font-weight: bold;
}

.definition-list
{
  color: #222222;
  font-size: 14px;
}


@media (max-width: 767px) {
  table
  {
    width: 0;
  }
}

table, td
{
  color: #003366;
  border: 1px solid #003366;
  border-collapse: collapse;
}

th 
{
  border: 3px solid #003366;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
}

td
{
    font-size: 12px;
    padding: 5px;
}

th{
  padding: 10px;
  width: 110px;
}

.first-column
{
  font-size: 16px;
  font-weight: bold;
}

.form-label
{
  font-size: 18px;
  font-weight: bold;
  padding-top: 20px;
}

.form-input
{
  color: #0099ff;
  font-size: 16px;
  font-weight: bold;
}

.form-btn-label
{
  font-size: 22px;
  font-weight: bold;
}

img.align-right
{
  margin: 2px 2px 10px 10px;
}

.align-right
{
  float: right;
}

.filterTwentyFive
{
  filter:alpha(opacity=25);
  opacity: 0.25;
  -moz-opacity:0.25;
}

.employes-container
{
  position: absolute;
  top:0;
  width: 93%;

}

.login-form
{
  width:75%;
  margin: auto;
}

.error-connexion
{
  font-size: 18px;
  font-weight: bold;
}

.txt-logout
{
  font-size: 14px;
  font-weight: bold;
  position: absolute;
  top:300px;
  right:400px;
}

.private-site-footer {
  height: 100px;
  background-color: #FDE9D9;
  background-image: url("../images/fleursFooter3.png");
  position: absolute;
  bottom: 0;
  left: -50px;
  width:150%;
}

.private-page
{
  background-color: #FDE9D9;
  max-height: 100% !important;
  overflow-x: hidden;
  height: 100%;
}

.message-form
{
  margin: 30px;
}

.iframe-title-bg-warning
{
  color: #003366;
  border-top: 3px solid red;
  border-bottom: 3px solid red;
  margin: 46px 0 46px;
  padding: 0;
  height: 15px;
  text-align: center;
}

.iframe-title-bg-warning > span
{
  font-size: 30px;
  font-weight: bold;
  position: relative;
  top: -18px;
  padding: 1px 20px;
  background: #FDE9D9;
}

.warning-text
{
  color: red;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
}