html, body {
  height: 100%;
}

html {
  box-sizing: border-box;
}

html,
body {
  font-size: 100%;
}

body {
  background: #fafafa;
  color: #222222;
  cursor: auto;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: normal;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  position: relative;
}

a:hover {
  cursor: pointer;
}

img {
  max-width: 100%;
  height: auto;
}

img {
  -ms-interpolation-mode: bicubic;
}