html, body {
  height: 100%;
}

html {
  box-sizing: border-box;
}

html,
body {
  font-size: 100%;
}

body {
  background: #fafafa;
  color: #222222;
  cursor: auto;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: normal;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  position: relative;
}

a:hover {
  cursor: pointer;
}

img {
  max-width: 100%;
  height: auto;
}

img {
  -ms-interpolation-mode: bicubic;
}

#logoContainer
{
  margin: 20px 0 0 20px;
}

#logoCPE
{
  padding: 50px;
  background-image: url("../images/CentreJour_730x90.png");
  background-repeat: no-repeat;
  background-size: 730px 90px; 
}
/*.myIframe {
  position: relative;
  padding-top: 120px;
  height: 0;
  overflow: hidden;
  -webkit-overflow-scrolling:touch;
  border: solid black 1px;
} 
.myIframe iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: scroll;
}*/

.index_ifrm {
  /*max-height:100% !important;
  height:100%;*/
  /*width:100%;*/
  padding-top: 175px;
}

#information {
  padding-top: 175px;
}

@media (max-width: 767px) {
  #information {
    padding-top: 0;
  }
}

.active {
  border-left: 3px solid #476573 !important;
  border-top: 3px solid #476573 !important;
  border-bottom: 3px solid #476573 !important; 
}

.active:last-child
{
  border-right: 3px solid #476573 !important;
}

.inactive {
  border-left: 3px solid #476573 !important;
  border-top: 3px solid #476573 !important;
  border-bottom: 3px solid #476573 !important;
}

.inactive:last-child
{
  border-right: 3px solid #476573 !important;
}

.topsub
{
  margin-top: -1px;
}
.subsub
{
  margin-top: -3px;
}

.dropdown-menu .inactive
{
  border-right: 3px solid #476573 !important;
}

.red
{
  background-color: #ff5468;
}

.pink
{
  background-color: #dc9d9b;
  color: white;
}

.blue
{
  background-color: #608a9b;
  color: white;
}