html, body {
  height: 100%;
}

html {
  box-sizing: border-box;
}

html,
body {
  font-size: 100%;
}

body {
  background: #fafafa;
  color: #222222;
  cursor: auto;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: normal;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  position: relative;
}

a:hover {
  cursor: pointer;
}

img {
  max-width: 100%;
  height: auto;
}

img {
  -ms-interpolation-mode: bicubic;
}

#logoContainer
{
  margin: 20px 0 0 20px;
}

#logoCPE
{
  padding: 50px;
  background-image: url("../images/CentreJour_730x90.png");
  background-repeat: no-repeat;
  background-size: 730px 90px; 
}

/*.myIframe {
  width: 100%;
  height: 100%;
  border: solid black 1px;
} 
.myIframe iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: scroll;
}*/
.page{
  max-height: 100% !important;
  overflow-x: hidden; 
  /*border: solid red 1px;*/
}

.site-header {
  /*border: solid green 1px;*/
}

.site-container {
  max-height: 100% !important;
  /*border: solid yellow 1px;*/
  /*margin-right: 15px;*/
  background-color: #f8f8f8;
}

.site-footer {
  height: 40px;
  background-color: #f8f8f8;
  /*border: solid black 1px;*/
}

.index_ifrm {
  /*max-height:100% !important;*/
  width:100%;
  overflow:hidden;
  padding-top: 175px;
}

#iframeBody
{
  overflow:hidden;
}

.information {
  padding-top: 175px;
}

@media (max-width: 767px) {
  .information {
    padding-top: 0;
  }
}


.active {
  border-left: 3px solid #476573 !important;
  border-top: 3px solid #476573 !important;
  border-bottom: 3px solid #476573 !important; 
}

.active:last-child
{
  border-right: 3px solid #476573 !important;
}

.inactive {
  border-left: 3px solid #476573 !important;
  border-top: 3px solid #476573 !important;
  border-bottom: 3px solid #476573 !important;
}

.inactive:last-child
{
  border-right: 3px solid #476573 !important;
}

.topsub
{
  margin-top: -1px;
}
.subsub
{
  margin-top: -3px;
}

.dropdown-menu .inactive
{
  border-right: 3px solid #476573 !important;
}

.red
{
  background-color: #ff5468;
}

.pink
{
  background-color: #dc9d9b;
  color: white;
}

.blue
{
  background-color: #608a9b;
  color: white;
}

.separator
{
  width:90%;
  border-top: 3px solid #dc9d9b;
  border-bottom: 3px solid #608a9b;
  margin-bottom: 30px;
  padding: 0;
  height: 15px;
}

/*.doubleLineSeparator
{
  width:90%;
  height: 3px;
  margin-top: -10px;
  margin-bottom: 40px;
}*/

/*INDEX RIGHT SECTION*/
.rightSectionTitle
{
  color: #476573;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 30px;
}

.box-title
{
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color:white;
  border: 2px solid white;
  text-align: center;
  word-wrap:normal; 
  background-color: #476573;
  padding: 1px;
}

.box-inner
{
  margin-top: 0;
  padding-top: 10px;
  border-top: 3px solid #476573
}

.box-inner > p
{
  font-family: "Montserrat", sans-serif;
  font-weight: 200;
  font-size: 14px;

  margin-left: 10px;
}

.box-inner > div
{
  margin-left: 10px;
}

.texteInfo
{
  max-width: 90% !important;
  border: 3px solid #476573 !important;
  margin-bottom: 40px;
}

/* INDEX RIGHT SECTION END */

/* IFRAME */
.iframe-title-bg
{
  color: #476573;
  border-top: 3px solid #dc9d9b;
  border-bottom: 3px solid #608a9b;
  margin: 46px 0 46px;
  padding: 0;
  height: 8px;
  text-align: center;
}

.iframe-title-bg > p
{
  font-size: 30px;
  font-weight: bold;
  position: relative;
  top: -18px;
  padding: 1px 20px;
  background: #fafafa;
}

.iframe-p-text
{
  text-align: justify;
  margin: 0 20px;
}

.iframe-div-title
{
  color: #476573;
  font-size: 20px;
  font-weight: bold;
}

.iframe-div-sudtitle
{
  color: #608a9b;
  font-size: 16px;
}